[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "reportRmd"]
	path = reportRmd
	url = https://github.com/biostatspmh/reportrmd
